%br
%center
  %table{:border => 0, :class => "mid_bg", :cellpadding => "10"}
    %tr
      %td{:align => "right"}
        - if(@current_user.role.rolename == ADMIN)
          = link_to 'Edit', edit_user_path(@user), :class => "action_bar", :title => "Edit RJ details" 
          &nbsp;
        = link_to 'Back', users_path, :class => "action_bar", :title => "Thank you! Now go back to RJ List" 
    %tr
      %td{:align => "left"}
        = "Hi, I am " 
        %b{:style => "background-color:yellow"}= "#{@user.username}"
        and I thank you for visiting my profile !
        %p
          = "You can write to me or e-mail me at "
          %b{:style => "background-color:yellow"}= "#{@user.email}"

